Clase 3/node-red-clase3.txt
[{"id":"8478fd13.73ad5","type":"mqtt in","z":"80c2e6a5.37d318","name":"","topic":"temperatura","qos":"2","broker":"cd2edb0b.60ba18","x":90,"y":100,"wires":[["4257a6b1.8ba178","ffb03f5a.22f3e","12512fd8.2b51a"]]},{"id":"4257a6b1.8ba178","type":"debug","z":"80c2e6a5.37d318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":458.88885498046875,"y":33.33333206176758,"wires":[]},{"id":"65f7b665.4a17a8","type":"mqtt out","z":"80c2e6a5.37d318","name":"","topic":"rele","qos":"2","retain":"false","broker":"cd2edb0b.60ba18","x":367.7777786254883,"y":445.55556297302246,"wires":[]},{"id":"3d6896db.197f4a","type":"inject","z":"80c2e6a5.37d318","name":"","topic":"","payload":"Hola desde Node-red!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153.33333587646484,"y":399.9999828338623,"wires":[["65f7b665.4a17a8"]]},{"id":"94891f87.3e7d5","type":"mqtt in","z":"80c2e6a5.37d318","name":"","topic":"humedad","qos":"2","broker":"cd2edb0b.60ba18","x":80,"y":200,"wires":[["10f3c088.0021ef","20ca0c07.7c27c4","922d4dad.1e5e1"]]},{"id":"20ca0c07.7c27c4","type":"debug","z":"80c2e6a5.37d318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":389.9999656677246,"y":256.6666774749756,"wires":[]},{"id":"8198c975.d605a8","type":"ui_button","z":"80c2e6a5.37d318","name":"","group":"245e3e1b.0eb102","order":1,"width":0,"height":0,"passthru":false,"label":"Encendido","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":135.31871795654297,"y":482.75562953948975,"wires":[["65f7b665.4a17a8"]]},{"id":"ffb03f5a.22f3e","type":"ui_gauge","z":"80c2e6a5.37d318","name":"","group":"9ef1f108.e34d1","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":461.9791475534439,"y":58.04607009887695,"wires":[]},{"id":"ddb8851a.da10c8","type":"ui_button","z":"80c2e6a5.37d318","name":"","group":"245e3e1b.0eb102","order":2,"width":0,"height":0,"passthru":false,"label":"Apagado","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":133.09658474392361,"y":538.2007598876953,"wires":[["65f7b665.4a17a8"]]},{"id":"10f3c088.0021ef","type":"ui_gauge","z":"80c2e6a5.37d318","name":"","group":"9ef1f108.e34d1","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad Relativa","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":411.9886016845703,"y":218.0460753440857,"wires":[]},{"id":"12512fd8.2b51a","type":"ui_chart","z":"80c2e6a5.37d318","name":"","group":"245e3e1b.0eb102","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":457.53470526801215,"y":105.81438700358072,"wires":[[],[]]},{"id":"922d4dad.1e5e1","type":"ui_chart","z":"80c2e6a5.37d318","name":"","group":"245e3e1b.0eb102","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":387.53790283203125,"y":299.2455596923828,"wires":[[],[]]},{"id":"cd2edb0b.60ba18","type":"mqtt-broker","z":"","name":"","broker":"broker.shiftr.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"245e3e1b.0eb102","type":"ui_group","z":"","name":"NodeMcu","tab":"1e031865.0c5ab8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9ef1f108.e34d1","type":"ui_group","z":"","name":"Sensores","tab":"1e031865.0c5ab8","order":2,"disp":true,"width":"6","collapse":false},{"id":"1e031865.0c5ab8","type":"ui_tab","z":"","name":"IoT","icon":"dashboard","order":1,"disabled":false,"hidden":false}]